@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-800 antialiased;
  font-family: 'Noto Sans JP', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif JP', serif;
}

::selection {
  @apply bg-sakura-200 text-sakura-900;
}
